.timer-section {
  padding: 36px 156px;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.cal-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 355px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 32px;
}

#datetime-picker.flatpickr-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 270px;
  padding-left: 16px;
  height: 38px;
  outline: none;
}

#datetime-picker.flatpickr-input:focus {
  border-color: #4e75ff;
}

#datetime-picker.flatpickr-input:hover {
  border-color: #000000;
}

#datetime-picker.flatpickr-input:disabled {
  background-color: #fafafa;
  color: #808080;
}

.start-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
  color: #ffffff;
  background-color: #4e75ff;
}

.start-button:hover {
  background-color: #6c8cff;
  color: #ffffff;
}

.start-button:disabled {
  color: #989898;
  background: #cfcfcf;
  cursor: not-allowed;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flatpickr-day:hover {
  background: #c1c1c1;
  color: #666666;
}

.flatpickr-day.selected {
  background-color: #4e75ff;
  color: #ffffff;
  border-color: #4e75ff;
}

.flatpickr-day.today {
  border: 1px solid #4e75ff;
}
